.input-container {
    position: relative;
    width: 100%; /* Garantir que o input ocupe 100% do espaço do container */
  }
  
  .input-container input {
    width: calc(100% - 40px); /* Deixa espaço suficiente para o botão com ícone */
    padding-right: 40px; /* Deixa espaço no final para o ícone */
  }
  
  .input-container button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  