:root{
  --corAzulClaro: #ADD5FA;
  --corAzulEscuro: #8BCCEC;
  --corRosaClaro: #EF97B4 ;
  --corRosaEscuro: #F193B2;
}


.profile-container {
  display: flex;
}

.sidebar {
  width: 300px;
  background-color: var(--corAzulClaro);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.28) 0px -2px 10px 0px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 10px;
  
  
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--corRosaClaro); 
  font-size: 1rem;
}


.nome{
  color: white;
}
.btn-edit {
  background-color: #FDA5BE;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 245px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 23px;
  margin: auto;
  display: block;
}

.content {
  margin-left: 20px;
}

.edit-form {
  flex: 1;
  padding: 20px;
}

.profile-details {
  flex: 1;
  padding: 20px;
}

.profile-image {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  display: block;
  border: 6px solid white;
  cursor: pointer;
}

.file-input {
  border: 1px solid #ccc;
  padding: 5px;
}

.pdf-preview {
  margin: 20px 0;
}

.pdf-preview iframe {
  border: none;
}

.btn {
  background-color: #FDA5BE;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 245px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 23px;
}

.btn-container {
  margin-top: 20px;
}

.btn-portfolio{
  display: block;
  margin: auto;
  background-color: #FDA5BE;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 245px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 23px;
  margin-bottom: 12px;
}

.icon-rede{
  color: var(--corRosaClaro);
  
}

.btn-whatsapp {
  display: inline-block;
  background-color: var(--corRosaClaro);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  border: none;
  
}

.btn-whatsapp:hover {
  background-color: var(--corAzulClaro); 
  text-decoration: none;
}

.content_input:checked {
  accent-color: #f6598d; 
} 


.usuario{
  color: white;
}

.usuario-insta{
  color: white;
}