.btn-compartilhar {
  background-color: #FDA5BE;
  color: #fff;
  align-self: flex-end; 
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 250px;
  margin-top: 20px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 23px;
}


.new-post{
  padding: 1em;
  
  
} 