.btn-compartilhar {
  background-color: #FDA5BE;
  color: #fff; 
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 250px;
  margin-top: 20px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 23px;

}

.camera-icon{
  font-size: 60px;
  align-items: end;
  color: var(--corRosaClaro);
}

.input-img{
  display: none;
}

.image-preview{
  width: 38%;
  margin: auto;
}
