.calendar-container {
  margin: 50px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  max-width: 90%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.rbc-calendar {
  border: none;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
}

.rbc-header {
  background-color: var(--corRosaClaro);
  color: white;
  padding: 12px 0;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.rbc-month-view, .rbc-day-view, .rbc-week-view {
  background-color: #ffffff;
}

.rbc-day-slot, .rbc-time-slot {
  border: 1px solid #eee;
  border-radius: 5px;
}

.rbc-today {
  background-color: rgba(49, 116, 173, 0.1);
}

.rbc-event {
  background-color: var(--corAzulClaro);
  border-radius: 10px;
  padding: 6px;
  color: white;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.rbc-event:hover {
  transform: scale(1.05);
  background-color: var(--corRosaClaro);
}

.rbc-toolbar {
  background-color: var(--corAzulClaro);
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
}

.rbc-toolbar button {
  background-color: var(--corRosaClaro);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 14px;
  transition: background-color 0.2s;
}

.rbc-toolbar button:hover {
  background-color: var(--corAzulClaro);
}

.rbc-day-bg {
  transition: background-color 0.3s;
}

.rbc-day-bg:hover {
  background-color: rgba(253, 165, 190, 0.2);
}

.event-day {
  background-color: #FDA5BE;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  padding: 8px;
  display: inline-block;
}

.rbc-show-more {
  color: var(--corRosaClaro);
  font-weight: bold;
}

.rbc-time-view .rbc-time-header {
  border-bottom: 2px solid var(--corRosaClaro);
}

.rbc-time-content {
  border: 2px solid var(--corRosaClaro);
  border-radius: 10px;
  overflow: hidden;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  padding: 8px;
  font-size: 14px;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
}
