/* .post-item img {
    width: 100%;
  } */
  
  #home .post-item h2 {
    margin-bottom: 0.2em;
  }
  
  .post-author {
    text-align: left;
  }
  
  .post-author a {
    font-weight: bold;
  }

  .img-photo {
    height: 400px; 
    margin: 0 auto;
    display: block;
  }