:root{
  --corAzulClaro: #ADD5FA;
  --corAzulEscuro: #8BCCEC;
  --corRosaClaro: #EF97B4 ;
  --corRosaEscuro: #F193B2;
}

#home .post-item h2 {
  margin-bottom: 0.2em;
}

.post-author {
  text-align: left;
}

.post-author a {
  font-weight: bold;
}

.img-post {
  width: 30%;
  height: 30%;
  object-fit: cover; /* Faz a imagem cobrir toda a 치rea da div */

}

.post-container {
  margin-top: 80px;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.post-item {
  background-color: white;
  margin-top: 80px;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.btn-delete {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 10px;


}

.btn-edit{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 10px;
}

.lapis{
  color: var(--corRosaClaro);
}


.lixo{
  color: var(--corRosaClaro);
}



.btn-excluir {
  background-color: rgb(255, 126, 126);
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 23px;
  
}

.btn-excluir:hover{
  background-color: rgb(255, 93, 93) ;
}

.btn-nao{
  background-color: rgb(135, 223, 135);
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 23px;
  margin-left: 15px;
  
}

.btn-nao:hover{
  background-color: rgb(62, 129, 62);
}

.btn-cancelar{
  background-color:  rgb(255, 126, 126);
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 23px;
  margin-left: 30px;
}

.btn-cancelar:hover{
  background-color: rgb(255, 93, 93) ;
}

.btn-confirm{
  background-color: rgb(135, 223, 135);
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 23px;
}

.btn-confirm:hover{
  background-color: rgb(62, 129, 62);
}

.texto_publicacao{
  text-align: center;
  margin-bottom: 30px;
}

.edit-textarea {
  width: 90%; 
  height: 150px; 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
}



.options-menu {
 text-align: right;
  display: flex;
  cursor: pointer;
  
    
}

.pontinhos {
  color: var(--corRosaClaro);
  font-size: 50px;
  

}


.comment-profilepic{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 2em;

}


/* Coment치rios */
.comments-section {
  margin-top: 24px;
}

.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.comment-profilepic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.comment-content {
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 8px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: flex-start;
font-size: 20px;
}

.comment-author {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 8px;
  margin: 0;
}

.comment-text {
  margin: 4px 0 0;
  font-size: 21px;
}

/* Formul치rio de coment치rio */
.comment-form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.comment-textarea {
  width: 98%;
  height: 65px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 8px;
  display: block;
  margin: 0 auto;
}



.btn-comentar:hover {
  background-color: var(--corAzulClaro);
}

.comment-icon{
  color: var(--corRosaClaro);
  font-size: 25px;
  margin-left: 10px;
  align-items: center;
}

.comment-icon:hover{
  color: var(--corAzulClaro);
}

.btn-comentar{
  display: block;
  background-color: var(--corRosaClaro);
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 245px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 23px;
  margin-left: 10px;
  margin: 0 auto;
  margin-top: 10px;
}