.user-pic{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: block;
}
  
  #home .post-item h2 {
    margin-bottom: 0.2em;
  }
  
  .post-author {
    text-align: left;
  }
  
  .post-author a {
    font-weight: bold;
  }

  .img-photo {
    height: 400px; 
    margin: 0 auto;
    display: block;
  }

/* .user-bio{
  overflow-wrap: break-word;
} */

.user-item{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  height: auto;
  margin: 20px;
}