:root{
    --corAzulClaro: #ADD5FA;
    --corAzulEscuro: #8BCCEC;
    --corRosaClaro: #EF97B4 ;
    --corRosaEscuro: #F193B2;
  }
  
  
  .profile-container {
    display: flex;
  }
  
 

  
  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: var(--corRosaClaro); 
    font-size: 1rem;
  }
  
  
  .nome{
    color: white;
  }
  .btn-edit {
    background-color: #FDA5BE;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 245px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    font-size: 23px;
    margin: auto;
    display: block;
  }
  
  .content {
    margin-left: 20px;
  }
  
  .edit-form {
    flex: 1;
    padding: 20px;
  }
  
  .profile-details {
    flex: 1;
    padding: 20px;
  }
  
  .profile-image {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    display: block;
    border: 6px solid white;
    cursor: pointer;
  }
  
  .file-input {
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  .pdf-preview {
    margin: 20px 0;
  }
  
  .pdf-preview iframe {
    border: none;
  }
  
  .btn {
    background-color: #FDA5BE;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 245px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    font-size: 23px;
  }
  
  .btn-container {
    margin-top: 20px;
  }
  
