/* variável das cores */
:root{
  --corAzulClaro: #ADD5FA;
  --corAzulEscuro: #8BCCEC;
  --corRosaClaro: #EF97B4 ;
  --corRosaEscuro: #F193B2;
}


body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--corRosaClaro);
  padding: 0;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
    ;
}
h1,p,h3,h2,h3,h4{
  text-align: center;
  
}

span{
  font-size: 23px;
}
.active{
  background-color: #FDA5BE;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.151) 0px -2px 10px 0px;

}
input::placeholder,
textarea::placeholder {
  font-family: "Nunito", sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

.esquecisenha {
  /* padding-top: 15px; */
  text-decoration: none;
  border: none;
  transition: 0.4s;
  cursor: pointer;
  font-family: "Nunito", sans-seri;
  text-align: center;
  margin: 15px;
  display: block;
  color: var(--corRosaClaro);
  font-size:25px;
}

nav button{
  font-size: 28px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 1em;
  border: none;
  display: inline;
  align-content: center;
  font-family: "Nunito", sans-seri;
}

.img-logo{
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color:white;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width:90%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}


nav button:hover {
  color: white;
  background-color: #FDA5BE;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.151) 0px -2px 10px 0px;
}

/* estilos formulários -> index.css:aplica para todos */
div#formulario{
  background-color:white;
  text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.28) 0px -2px 10px 0px;
    padding-left: 30px;
    padding-right: 30px;
  
}



form {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}


label {
  display: flex;
    flex-direction: column;
    margin-bottom: 23px;
    margin-right: 60px;
}

label span {
  margin-bottom: 0.3em;
  font-weight: bold;
  text-align: left;

}

input,
textarea,
select {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.8em 0em;
  background-color: transparent;
  font-size: 25px;
  font-family: "Nunito", sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}


.btn {
  background-color: #FDA5BE;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 245px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 23px;
  
}

.btn-container {
  
  margin: auto;
}
.btn-cancel{
 
  background-color: #FDA5BE;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 23px;
 margin-left: 50px;
  align-content: center;
}

.btn-senha{
  background-color: #FDA5BE;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 280px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  margin: 30px;
  font-size: 20px;
  display: inline;
  align-content: center;
}
.entre{
  font-size: 25px;
 
}
a{
  color: var(--corRosaClaro);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}


.btn.btn-outline {
  background-color: transparent;
  border-radius: 0;
  color: #000;
  border: 1px solid #000;
  padding: 7px 30px;
}

.btn:hover {
  background-color: #ADD5FA;
  color: #fff;
}

.hide {
  display: none;
}






